.catalog {
  display: grid;
  gap: $gap;
  justify-content: center;
  align-content: center;
  margin: 0 auto;

  &__card {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;

    transition: transform $trans-speed;

    &:hover {
      transform: scale(1.2);
      color: $color-grey;
    }
  }
}

$min-width: 448px 2, 768px 3, 1024px 4;

@each $width, $n in $min-width {
  @media (min-width: $width) {
    .catalog {
      grid-template-columns: repeat($n, 1fr);
      width: getCatalogWidth($cardWidth, $n);
    }
  }
}
